.alert-danger{
    background-color: red;
}
.btn_otuline_cusotm{
    background-color: transparent;
    border: 5px solid green !important;
    border: 2px;
}
.card{
    border: none !important;
}
body{
    background-color: gray;
}
h1{
    font-size: 4em;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color:black;
    color: rgb(255, 255, 255);
}