body{
    background: #222A36;
    overflow-x: hidden;
}
.about__desctiption{
    color: rgba(255, 255, 255, 0.5);
}
.main-header{
    color: white;
}
.email_button{
    height: 64px;
    background: #676CDB;
    color: white;
}
.downloand_button{
    height: 64px;
    background: transparent;
    color: white;
}
.person{
    width: 100%;
}
.navbar-brand{
    color: white;
}
.nav-link{
    color: white;
}
.banner-section{
    background-image: url('../img/person.png');
    background-repeat: no-repeat;
    background-position-x: right;
    height: 750px;
}
@media only screen and (min-width: 1200px) {
    .person {
     display: none;
    }

  }


  .icon_list{
      background-color: black;
      padding-top: 50px;
      padding-bottom: 50px;
  }
  .icon{
      width: 100%;
  }
  @media only screen and (max-width: 540px) {
      body{
          overflow-x: hidden !important;
      }
    .banner-section {
     background-image: none;
    }   
    .icon_list{
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }
  }
.my_experiance{
    margin-top: 50px;
    margin-bottom: 50px;
}
.custom_color{
    color: #676CDB;
}
.font-end{
    background: #676CDB;
    height: 100%;
}
.secondary_column{
    background: #C4C4C4;
}